body {
    font-family: 'Mate SC', serif !important;
    background-image: url('https://secure.img1-fg.wfcdn.com/im/80130877/resize-h800%5Ecompr-r85/1076/107608521/Tropical+Hawaiian+Night+10%2527+L+x+24%2522+W+Peel+and+Stick+Wallpaper+Roll.jpg');
}

p {
    font-family: 'Montserrat', sans-serif;
}


